/* Branding */

$black : #000000;
$white: #ffffff;

$l-gray: #e5e5e5;
$gray: #5a5a5a;
$d-gray: #4a4a4a;

$red: #860f10;

$blue: #2B9B90;

/* Social */

$tw-blue: #00aced;
$fb-blue: #3B5998;
$li-blue: #4875B4;
$sp-yellow: #e9b509;